= simple_form_for [@asset, @option] do |f|
  = f.error_notification

  .inputs
    = f.input :option_type, :label => "CALL/PUT", :collection => [["CALL", true], ["PUT", false]], :prompt => "Select Option Type"
    = f.input :strike, :collection => (@asset.strike_min..@asset.strike_max).step(@asset.strike_step), :prompt => "Select strike"
    = f.input :expiration, :as => :date, :order => [:day, :month, :year]
    
  .actions
    = f.button :submit
