= simple_form_for @asset do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :sign
    = f.input :note
    = f.input :strike_min
    = f.input :strike_max
    = f.input :strike_step
    = f.input :currency, :collection => Money::Currency::TABLE.to_a.map {|c| c[0].to_s.upcase }
    
  .actions
    = f.button :submit
